/* #content > article > div.post-content {
    transition: 0.5s;
}
#content > article > div.post-content:hover {
    box-shadow: 0px 3px 15px 3px rgba(51, 51, 51, 0.5);
} */

#main,#post-toc {
    border-radius: 10px;
    box-shadow: 0px 3px 15px 3px rgba(51, 51, 51, 0.5);
}
/* 
#main:hover,#post-toc:hover {
    box-shadow: 0px 3px 15px 3px rgba(51, 51, 51, 0.5);
} */