/* body,h1,h2,::before {
    font-family: "" !important;
} */

.post-content > h1, h2, h3, h4, h5, h6 {
    // border-bottom: 1px solid ;
    font-family: "" !important;
}

.post-content > h1 {
    color: #C14D24 !important;
    font-size: 2.325em;
}

h2 {
    color: #3555A7;
    font-size: 1.55em;
}

h3 {
    color: #678B42;
    font-size: 1.25em;
}

// .post-content > h1::before {
//     content: "h1";
//     font-size: 10px;
//     font-family: "";
//     margin-left: -15px;
// }
// 
// .post-content > h2::before {
//     content: "h2";
//     font-size: 10px;
//     font-family: "";
//     margin-left: -15px;
// }
// .post-content > h3::before {
//     content: "h3";
//     font-size: 10px;
//     font-family: "";
//     margin-left: -15px;
// }
// .post-content > h4::before {
//     content: "h4";
//     font-size: 10px;
//     font-family: "";
//     margin-left: -15px;
// }
// .post-content > h5::before {
//     content: "h5";
//     font-size: 10px;
//     font-family: "";
//     margin-left: -15px;
// }
// .post-content > h6::before {
//     content: "h6";
//     font-size: 10px;
//     font-family: "";
//     margin-left: -15px;
// }

/**
 * 图片
 */

img {
    border-left: 2px solid #B73650;
}

body {
    background-color: #F5F5FA;
}
